html, body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    height: 100%;
    margin: 0;
    padding: 0.5em 3em;
}

nav {
    background-color: #209cee;
    overflow: hidden;
}

nav ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0.5em 1em;
}

nav ul.right {
    float: right;
}

nav ul li {
    display: inline;
}

nav ul li:not(:last-child) {
    display: inline;
}

nav ul li:not(:last-child):after {
    margin-left: 0.3em;
    content: "|";
    margin-right: 0.3em;
}

nav ul li a {
    color: initial;
    text-decoration: none;
}

li.header {
    margin-left: 0;
}

li.header a {
    font-weight: bold;
}

main {
    background-color: #f1f1f1;
    height: 100%;
    padding: 1em;
}