html, body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11pt;
    height: 100%;
    margin: 0;
    padding: 0.5em 3em;
}

nav {
    background-color: #d81c1c;
    overflow: hidden;
}

nav ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0.5em 1em;
}

nav ul.right {
    float: right;
    margin-top: 3px;
}

nav ul li {
    display: inline;
}

nav ul li:not(:last-child) {
    display: inline;
}

nav ul li:not(:last-child):after {
    margin-left: 0.3em;
    content: "|";
    margin-right: 0.3em;
}

nav ul li a {
    color: initial;
    text-decoration: none;
}

li.header {
    margin-left: 0;
}

li.header a {
    font-weight: bold;
}

li.header img {
    height: 18px;
    top: 1px;
    position: relative;
    width: auto;
}

main {
    background-color: #f1f1f1;
    height: 100%;
    padding: 1em;
}

.post-info {
    margin-bottom: 1em;
}

.post-info a {
    color: initial;
    text-decoration: none;
}

.post-info a:visited {
    color: #828282;
}

.post-info .sub {
    color: #828282;
    font-size: 0.8em;
}

.post-info .sub a {
    color: #828282;
}

.post-info .sub a:hover {
    text-decoration: underline;
}

.sub.push {
    margin-left: 1.5em;
}

.votearrow {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 0;
    margin-top: 3px;
    margin-right: 0.5em;
    float: left;
    background: url('/grayarrow.gif') no-repeat;
}